<%= render :partial => 'shared/header', :locals => { :title => "Prepare instance", :subtitle => "Hinxton, we have no problem" } %>
	<% form_tag "create", :method => :post do |f| %>
	<div class='item'>
		<div class='item_title'>
			Instance details
		</div>
		<div class='item_content'>
			Name:<br /> <%= text_field :instance, :name %>
		</div>	
		<br clear='all' />	
	</div>
	
	<div class='item'>
		<div class='item_title'>
			Specification
		</div>
		<div class='item_content'>
			<strong>
				Select a collection of roles for this instance. When launched, the instance
				will be bootstrapped to this specification.
			</strong>
			<br /><br />
			<table width='100%'>
				<tr>
					<td>
						Available tasks:
						<select size='14' style='width: 200px;' id='source' name='source'>
							<% for task in @tasks %>
								<option value='<%= task.name %>'><%= task.name %></option>
							<% end %>
						</select>
					</td>
					<td width='20%' style='text-align: center;'>
						<%= link_to 'Add &rarr;', "javascript:add_to_select('source', 'specification');" %>
						<br /><br />			
						<%= link_to '&larr; Remove', "javascript:add_to_select('specification', 'source');" %>												
					</td>
					<td>
						Specified tasks:
						<select multiple="multiple" size='14' style='width: 200px;' id='specification' name='specification[tasks][]'>
						</select>
					</td>
				</tr>
			</table>
		</div>	
		<br clear='all' />	
	</div>
	
	<div class='item'>
		<div class='item_title'>
		&nbsp;
		</div>
		<div class='item_content'>
			<%= submit_tag "Save instance" %> or <%= link_to 'cancel', houston_url %>
		</div>	
		<br clear='all' />	
	</div>
	
	<% end %>
<%= render :partial => 'shared/footer' %>
