<div class='item'>
	<div class='item_title spaced'>
		<% if name == true %>
			<%= link_to mission.name, mission_path(mission) %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	<div class='item_content'>
		<table width='100%'>
		  <tr>
		    <td class='number'><%= mission.pending %></td>
		    <td class='number'><%= mission.submitted %></td>        
		    <td class='number'><%= mission.working %></td>        
		    <td class='number'><%= mission.complete %></td>
		    <td class='number'><%= number_with_delimiter mission.progress, "," %></td>        
		  </tr>
		  <tr>
		    <td class='build'>pending</td>
		    <td class='build'>queued</td>        
		    <td class='build'>working</td>        
		    <td class='build'>complete</td>        
		    <td class='build'><%= mission.metric %></td>
		  </tr>
		</table>
	</div>	
	<br clear='all' />	
</div>
