<%= render :partial => 'shared/header', :locals => { :title => @mission.name, :subtitle => "Hinxton, we have no problem" } %>
<%= render :partial => 'shared/flashes' %>
  
    <%= periodically_call_remote(:url => url_for(:action => :status, :id => @mission.id), :frequency => '3', :update => 'status') %>

	<div id='status'>
		<%= render :partial => 'status' %>
	</div>
	
	<div class='item'>
		<div class='item_title'>
			&nbsp;
		</div>
		<div class='item_content'>
			<%= link_to 'View dataset &rarr;', :controller => :jobs %>
		</div>	
		<br clear='all' />	
	</div>

<%= render :partial => 'shared/footer' %>
